/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');

 body {
 	position: relative;
 	font-size: 16px;
 	font-family: 'Montserrat', serif, sans-serif;
 }

 #presenter {
 		padding-top: 120px !important;
 		background-color: #FFF;
 		form {
 		 position: relative;
 		 input[type=search] {
 		 	position: relative;
 		 	height: 44px;
 		 }
 		 input[type=submit] {
 		 	position: relative;
 		 	margin-left: -25px;
 		 }
 		}
 	}

 .navbar-default {
 	background-color: #FFF;
 	.navbar-brand {
 	 position: relative;
 	 font-weight: bold;
 	 font-size: 22px;
 	}
 	a {
 	 position: relative;
 	 font-size: 13px;
 	 text-transform: uppercase;
 	}
 }

 form {
 	input[type=search] {
 		position: relative;
 		border-left: 0px;
 	}

 	.input-group-addon {
 		position: relative;
 		background-color: #FFF !important;
 		border-right: none; 
 		i {
 		 position: relative;
 		 font-size: 18px;
 		 color: #999;
 		}
 	}
 }